<tr style="background-color:lightgrey;color:white;">
    {%for header in df_headers %}
        <th>
        <form class="filter" action="{{ url_for('home.filter',column=header) }}" method="get">
            <div class="row">
                <div class="col-8">
                    <input list="{{ header }}" name="startWith" id="startWith" placeholder="Αναζήτηση πεδίου">
                </div>
                <div class="col-3">
                    <input type="submit" value="search">
                </div>
                <div class="col-1">
                    <datalist id="{{ header }}">
                        {% for i in datalist_options[header]%}
                            <option value="{{ i }}">
                        {% endfor %}
                    </datalist>
                </div>
            </div>    
          </form>
        
          </th>
    {% endfor %}
</tr>

