{% extends "base.html" %}


{% block title %}
    Index
{% endblock title %}


{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        {% for header in headers_th %}
        <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
<script>

    // Για μελλοντική χρήση, σε περίπτωση που προστεθούν και άλλα google_sheets
    // με διαφορετκό μήκος και διαφορετκές ονομασίες  Headers.
    // Δοκιμαστικό 
    const data_header = {{ headers_th_javascript|safe }}
    let header = []
    for (let i = 0; i < data_header.length; i++) {
      header.push({data : data_header[i]})
    }

    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/home/data',
        serverSide: true,
        columns: header,
      });
    });
  </script>
{% endblock %}


